/*

Green -
#A3DE21

Blue -
#21A3DE

Red -
#DE21A3


Purple -

#7f007f

Yellow -

#EDE861

*/

* {
	margin: 0;
	/* padding: 0; */
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Slabo 27px", serif;
}

/* Nav */

/* TOP */

.top {
	/* min-height: 100vh; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(255, 204, 188, 0.7);
	width: 100%;
	min-height: 110vh;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.header-text {
	font-family: "Fugaz One", cursive;
	font-size: 5rem;
}

.header-btn {
	height: 3.5rem !important;
	width: 7rem !important;
	background: #de21a3ff !important;
	color: #fff !important;
	font-size: 1.5rem !important;
}

.Jus {
	color: #ede861;
	text-shadow: 2px 2px 1px #000, 2px 2px 1px #000, 1px 1px 1px #000;
}

.Jax {
	color: #7f007f;
	text-shadow: 2px 2px 1px #000, 2px 2px 1px #000, 1px 1px 1px #000;
}

/* END TOP */

/* MID */

.mid {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 15rem;
	margin-bottom: 15rem;
}

.mid-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* width: 80%;
	justify-content: center;
	flex-direction: column; */

	/* flex-direction: row; */
}

.card {
	margin: 0.5%;
	background: rgba(33, 163, 222, 0.5) !important;
	box-shadow: 8px 9px 22px 1px rgba(0, 0, 0, 0.75) !important;
	display: flex !important;
	justify-content: center;
	padding: 0.2rem 1rem;
	width: 30%;
}

.card-img {
	height: 960;
	width: 720px;
	margin-bottom: 0.5rem;
}

.card-title {
	font-size: 1.3rem !important;
	margin-bottom: 0.5rem !important;
}

.card-sub {
	font-size: 1rem !important;
	margin-bottom: 0.5rem !important;
}

.card-body {
	width: 70%;
	font-size: 1.1rem !important;
}

.card-btn,
.modal-open-btn {
	background: rgba(222, 33, 163, 1) !important;
	margin-top: 1rem !important;
	color: #000 !important;
	margin-left: 50%;
	color: #fff !important;
}

/* END MID  */

/* Modal */

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.modal-view {
	position: fixed;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #f3f3f3;
	box-shadow: 8px 9px 22px 1px rgba(0, 0, 0, 0.75) !important;
	padding: 20px;
	z-index: 1000;
}

.modal-close-btn {
	background: #21a3de !important;
	display: flex !important;
	width: 8vw !important;
	text-align: center !important;
	margin: 0 auto !important;
	margin-top: 1rem !important;
}

/* END MODAL */

/* BOT */

.bot-div {
	/* background: url("img/img.png") fixed; */
	/* height: 20vh; */
	width: 100%;
	clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.bot {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: rgba(255, 204, 188, 0.7);
	clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);

	margin: -50px auto;

	width: 100%;
	min-height: 100vh;
	/* min-height: 100vh; */
}

.running {
	display: flex;
	text-align: center;
	width: 80%;

	margin: 70px;
}

.running > .running-sponsor,
.running-img {
	width: 50%;
	max-height: 60vh;
	margin: 1rem;
}

.running > .running-vid {
	width: 50%;
	/* background: url("img/img.png"); */
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	/* background-attachment: fixed; */
}

.running-sponsor > h3 {
	font-size: 3rem;
	margin-bottom: 0.5rem;
}

.running-sponsor > h5 {
	font-size: 1.8rem;
	margin-bottom: 0.5rem;
}

.list-running > ul {
	list-style-type: none;
	font-size: 2rem;
	padding: 0;
}

.list-running > ul > li {
	margin: 0 auto;
}

.list-running > ul > li:nth-child(1) {
	width: 8ch;
}
.list-running > ul > li:nth-child(2) {
	width: 9ch;
}
.list-running > ul > li:nth-child(3) {
	width: 6ch;
}
.list-running > ul > li:nth-child(4) {
	width: 7ch;
}

.player {
	opacity: 0.8;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

/* MAP */

.bot-map {
	max-width: 100vw;
	clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
}

.marker {
	background: none;
	border: none;
	cursor: pointer;
}

.marker img {
	width: 20px;
	height: 30px;
}

.mapboxgl-popup-content {
	background: #fff;
	min-width: 10rem;
	min-height: 10rem;
	display: flex;
	justify-items: center;
	align-items: center;
	text-align: center;
}

.popup {
	width: 100%;
	height: 100%;
}

.arrow-down {
	width: 5rem !important;
	height: 5rem !important;
}

.animate {
	animation-name: bounce;
	animation-timing-function: linear;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.asda {
	transform: rotate(90deg) !important;
	padding: 100px;
}

@keyframes bounce {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-100px);
	}
	100% {
		transform: translateX(0);
	}
}

.makkers {
	background: url("../img/marker.png") !important;
	height: 100px;
}

/* .tast, */
/* .Toastify__toast .Toastify__toast--default, */
.Toastify__toast-body {
	/* background: url("https://www.reactiongifs.us/wp-content/uploads/2013/07/you_didnt_see_anything_madagascar.gif") */
	/* no-repeat fixed center !important; */
	height: 200px !important;
	width: 500px !important;
	margin: 0 !important;
	/* background: red !important; */
}

/* .Toastify__toast-body > img {
	width: 200px !important;
	height: 100px !important;
} */

.Toastify__toast,
.Toastify__toast--default {
	width: 540px !important;
	height: 330px !important;
}

.Toastify__toast-container--top-right {
	width: auto !important;
	height: auto !important;
	margin-bottom: 50px;
}

.div-alert {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: auto !important;
	height: 300px !important;
}

.div-img {
	background: url("https://www.reactiongifs.us/wp-content/uploads/2013/07/you_didnt_see_anything_madagascar.gif")
		no-repeat;
	height: 100% !important;
	width: 100% !important;
}

@media (max-width: 1280px) {
	.running-vid {
		display: none;
	}

	.running-sponsor {
		width: 100% !important;
	}
}
